<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {{ if .Site.Params.footer.logo }}
                <div class="pb-2">
                    <a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
                        <img alt="Footer logo" src="{{ .Site.Params.footer.logo }}"
                            height="40px" width="40px">
                    </a>
                </div>
            {{ end }}
            &copy; {{ .Site.Params.footer.since }} {{ .Site.Params.footer.copyright }}
        </div>
    </div>
</div>
